{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='{% static 'css/bootstrap.min.css' %}' type='text/css' media='all'>
    <link rel='stylesheet' href='{% static 'reg_form.css' %}' type='text/css' media='all'>
    <title>Figaro</title>
</head>

<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Figaro</h1>
                <hr/>
            </div>
        </div>

        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="/loginsys/sign_up/">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">

                        <label for="username" class="cols-sm-2 control-label">
                            {% if field == form.username %}
                                Username
                                {% elif field == form.first_name %}
                                First name
                                {% elif field == form.email %}
                                Email
                                {% elif field == form.password1 %}
                                Password
                                {% elif field == form.password2 %}
                                Password

                            {% endif %}
                        </label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}




                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary btn-lg login-button" value="Register">
                </div>
                <div class="login-register">
                    <a href="/">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src=" {% static 'js/bootstrap.js' %}"></script>
</body>
</html>

