{% extends 'main.html' %}
{% load static %}




{% block news_block %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p>первая новость проекта</p>
            <button type="button" class="btn btn-primary">Стандартная</button>
            <p>My name is {{ name }}</p>
            asd
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for new in news %}
                <h1>
                    [{{ new.news_date.day }}.{{ new.news_date.month }}]
                    {{ new.news_header }}
                </h1>

                <p>
                    {{ new.news_text }}
                </p>

            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 3cm">

            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {% if  news.has_previous %}
                        <li class=""><a href="/news/page/{{ news.previous_page_number }}/" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}

                    {% for page in news.paginator.page_range %}
                        {% if page != news.number %}
                            <li><a href="/news/page/{{ page }}/">{{ page }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="active"><a href="">{{ page }} <span class="sr-only">(current)</span></a></li>

                        {% endif %}

                    {% endfor %}

                    {% if news.has_next %}
                        <li><a href="/news/page/{{ news.next_page_number }}/" aria-label="Next"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>


        </div>
    </div>




{% endblock %}
