{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Figaro</title>
    <link rel='stylesheet' href='{% static 'css/bootstrap.min.css' %}' type='text/css' media='all'>
    <link rel='stylesheet' href='{% static 'css/myStyle.css' %}' type='text/css' media='all'>

    <script src="{% static 'codemirror/js/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/js/matchbrackets.js' %}"></script>
    <link rel="stylesheet" href=" {% static 'codemirror/css/codemirror.css' %}">
    <link rel="stylesheet" href=" {% static 'codemirror/theme/neat.css' %}">
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>

    <script src=" {% static 'jquery/test/data/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Figaro</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/problems/">Prolems</a></li>
                <li><a href="#">Tournaments</a></li>
                <li><a href="/problems/status/">Status</a></li>
            </ul>
            {% if user.username %}

                <form class="navbar-form navbar-right" action="/loginsys/sign_out/" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Logout {{ user.username }}">
                </form>

            {% else %}

                <form class="navbar-form navbar-right" action="/loginsys/sign_in/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="id_username" type="text" class="form-control" name="username"
                               placeholder="Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="id_password" type="password" class="form-control" name="password" value=""
                               placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Sign in">
                    <input type="button" class="btn btn-link" value="Sign up" onclick='location.href="/loginsys/sign_up/"'>
                </form>
            {% endif %}


        </div>
    </div>


</nav>


<div class="row">
    <div class="col-md-12 text-center">
        <h1>Figaro site</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Hello everybody it's a site for push code and run it on docker containers</p>
        </div>
    </div>
</div>


{% block news_block %} {% endblock %}
{% block problem_block %} {% endblock %}
{% block problem_by_id_block %} {% endblock %}
{% block sign_up %} {% endblock %}
{% block status_of_system %} {% endblock %}
{% block status_solution %} {% endblock %}

</body>
</html>