{% extends 'main.html' %}
{% load static %}

{% block problem_by_id_block %}


    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>{{ problem.problem_name }}</h1>
            <pre> Ограничение по времени:{{ problem.problem_time_limit }} секунд</pre>
            <pre> Ограничение по памяти:{{ problem.problem_memory_limit }} Mb</pre>

            <h1>Problem description</h1>
            <p>{{ problem.problem_description_legend }}</p>

            <h1>Input data</h1>
            <p>{{ problem.problem_description_input }}</p>

            <h1>Output data</h1>
            <p>{{ problem.problem_description_output }}</p>

        </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <tr class="bg-info">
                    <th>№</th>
                    <th>Input.txt</th>
                    <th>Output.txt</th>
                </tr>
                {% for example in examples %}
                    <tr>
                        <td>{{ example.example_number }}</td>
                        <td>{{ example.example_input_txt }}</td>
                        <td>{{ example.example_output_txt }}</td>
                    </tr>
                {% endfor %}


            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/problems/send_solution/" id="send_code" method="post" class="form-row">
                {% csrf_token %}

                <input type="hidden" name="solution_problem_number" value="{{ problem.id }}">

                <div class="form-group form-inline">
                    <div class="col-md-6">
                        <h4>Source code</h4>
                    </div>

                    <div class="text-right">
                        <p>Language {{ form.solution_language }}</p>
                    </div>

                </div>

                <div class="form-group">
                    {{ form.solution_source_code }}
                </div>

                <div class="form-group">
                    <button type="submit" name="preview-form-submit" id="preview-form-submit" class="btn btn-default">Send</button>
                </div>

            </form>
        </div>
    </div>

    <script src="{% static 'codemirror/js/problem_code_mirror.js' %}"></script>



    <div class="" style="margin-top: 5cm"></div>



{% endblock %}


