{% extends 'main.html' %}
{% load static %}


{% block problem_block %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                {{ mail }}
            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Problem</th>
                </tr>

                {% for problem in problems %}

                    <tr>
                        <td>{{ problem.id }}</td>
                        <td><a href="/problems/{{ problem.id }}/">{{ problem.problem_name }}</a></td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>

{% endblock %}