

{% extends 'main.html' %}
{% load static %}
{% block status_solution %}

    <div class="row">
        <div class="col-md-4 col-md-offset-3">
        <textarea id="source_code_dis">{{ solution.solution_source_code }}</textarea>
            <script src="{% static 'codemirror/js/solution_code_mirror.js' %}"></script>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tr class="bg-info">
                    <th>Test</th>
                    <th>Result</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {% for result in result_by_test %}
                    {% if result.solution_by_test_result == 'Accepted' %}
                    <tr class="bg-success">
                        <td>{{ result.solution_by_test_test }}</td>
                        <td>{{ result.solution_by_test_result }}</td>
                        <td>{{ result.solution_by_test_time }}</td>
                        <td>{{ result.solution_by_test_memory }}</td>
                    </tr>
                        {% else %}
                    <tr class="bg-danger">
                        <td>{{ result.solution_by_test_test }}</td>
                        <td>{{ result.solution_by_test_result }}</td>
                        <td>{{ result.solution_by_test_time }}</td>
                        <td>{{ result.solution_by_test_memory }}</td>
                    </tr>

                    {% endif %}
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}

