{% extends 'main.html' %}
{% load static %}
{% block status_of_system %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>{{ name }}</p>

            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Problem</th>
                    <th>Language</th>
                    <th>Result</th>
                    <th>Test</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {% for solution in solutions %}
                    <tr>
                        <td><a href="solution/{{ solution.id }}/">{{ solution.id }}</a></td>
                        <td>{{ solution.solution_date }}</td>
                        <td>{{ solution.solution_author }}</td>
                        <td>{{ solution.solution_problem_number }}</td>
                        <td>{{ solution.solution_language }}</td>
                        <td>{{ solution.solution_result }}</td>
                        <td>{{ solution.solution_test }}</td>
                        <td>{{ solution.solution_time }}</td>
                        <td>{{ solution.solution_memory }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>



{% endblock %}